<%= form_for(@question) do |f| %>
	<p>
		<%= f.text_area :title, :class => 'lx-q-title' %>
	</p>
	<p>
		<%= f.text_area :content, :class => 'lx-q-content' %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>