<div id="content">
	<%= form_for(@question) do |f| %>
	<div class="lx-row">
		<%= f.text_area :title, :class => 'lx-q-title' %>
	</div>
	<div class="lx-row">
		<%= f.text_area :content, :class => 'lx-q-content' %>
	</div>
	<div class="lx-row">
		<%= f.submit %>
	</div>
<% end %>
</div>